html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background: #111;
  color: #eee;
}

a {
  color: magenta;
}

.main {
  padding: 24px;
  padding-bottom: 48px;
}

.main-title {
  font-weight: normal;
  font-size: 3em;
}

.main-description {
  font-size: 1.5em;
}
